<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.auto.dao.user_auto.User_AutoMapper">
    <select id="getAutoByType" resultType="User_auto">
        select * from user_auto
        <trim prefix="where">
            <if test="autoTypeId != null and autoTypeId != ''">
                autoTypeId = #{autoTypeId}
            </if>
        </trim>
    </select>

    <update id="updateAuto">
        UPDATE user_auto
        <trim prefix="set" suffix="," suffixOverrides="where">
            <if test="autoName != null and autoName != ''">
                autoName = #{autoName}
            </if>
            <if test="production != null and production != ''">
                production = #{production}
            </if>
            <if test="autoTypeId != null and autoTypeId != ''">
                autoTypeId = #{autoTypeId}
            </if>
            <if test="autoMoney != null and autoMoney != ''">
                autoMoney = #{autoMoney}
            </if>
            <if test="autoImg != null and autoImg != ''">
                autoImg = #{autoImg}
            </if>
            <if test="adminAuto != null and adminAuto != ''">
                adminAuto = #{adminAuto}
            </if>
            <if test="userAuto != null and userAuto != ''">
                userAuto = #{userAuto}
            </if>
            <if test="autoConfig != null and autoConfig != ''">
                autoConfig = #{autoConfig}
            </if>
            where Id = #{Id}
        </trim>
    </update>

    <delete id="deleteAuto">
        delete from user_auto where Id = #{Id}
    </delete>

</mapper>