<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.auto.dao.auto_type.Auto_typeMapper">
    <!--查询所有品牌-->
    <select id="getType" resultType="Auto_type">
        select * from auto_type
    </select>
    <!--新增品牌-->
    <insert id="addType">
        INSERT INTO auto_type VALUES(NULL,#{name})
    </insert>
    <!--删除品牌-->
    <delete id="deleteType">
        DELETE	FROM auto_type WHERE Id = #{Id}
    </delete>
    <!--修改品牌-->
    <update id="updateType">
        UPDATE auto_type SET name = #{name} where Id = #{Id}
    </update>
    <!--判断品牌名称不能重复-->
    <select id="gettypeByName" resultType="Auto_type">
        select * from auto_type where name = #{name}
    </select>
</mapper>